[submodule "backend/nestjs-fundamentals-iluvcoffee"]
	path = backend/nestjs-fundamentals-iluvcoffee
	url = https://github.com/Holledrums/nestjs-fundamentals-iluvcoffee.git
[submodule "backend/nestjs-micro-service"]
	path = backend/nestjs-micro-service
	url = https://github.com/Holledrums/nestjs-micro-service.git
